write your override styles here
wall .tag-1 {
    display: none;
}

#wall #tag-2 {
    display: none;
}

#wall #tag-3 {
    display: none;
}

#wall .parent {
    display: none;
}

div#tag-4 {
    display: none;
}

div #tag-5 {
    display: none;
}

div #tag-6 {
    display: none;
}

div#tag-7 {
    display: none;
} 